/*
 * CSS for FreeWallet Desktop
 */

html {
  position: relative;
  min-height: 100%;
}

body {
    /* Add margin to body so that sticky header/footer don't override main content  */
    margin-top: 51px;
    margin-bottom: 31px;
    background-color: #eee;
}

body:before {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block; 
    content:""; 
    position: absolute; 
    z-index:-1;
    top:0; 
    left: 0; 
    right: 0; 
    height: 100%;
    opacity:0.1;
}
.header {
    border-bottom: 1px solid #d3d3d3;
}
.footer {
    height: 31px;
    color: #000;
    background-color: #fff;
    border-top: 1px solid #d3d3d3;
}
/* Quick no-margin classes */
.no-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.no-top-margin {
    margin-top: 0px !important;
}
.no-bottom-margin {
    margin-bottom: 0px !important;
}
.no-left-margin {
    margin-left: 0px !important;
}
.no-right-margin {
    margin-right: 0px !important;
}

/* Quick no-border classes */
.no-border {
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.no-top-border {
    border-top: 0px !important;
}
.no-bottom-border {
    border-bottom: 0px !important;
}
.no-left-border {
    border-left: 0px !important;
}
.no-right-border {
    border-right: 0px !important;
}

/* Quick no-padding classes */
.no-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}.no-top-padding {
    padding-top: 0px !important;
}
.no-bottom-padding {
    padding-bottom: 0px !important;
}
.no-left-padding {
    padding-left: 0px !important;
}
.no-right-padding {
    padding-right: 0px !important;
}

.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.navbar-brand {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.border-top-1 { 
    border-top: 1px solid #ddd !important; 
}
.border-bottom-1 { 
    border-bottom: 1px solid #ddd !important; 
}

.table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}
.header li > a.active {
    padding-bottom: 10px;
}
.header li > a:hover {
    padding-bottom: 10px;
}
.header .dropdown-menu li > a:hover,
.modal  .dropdown-menu li > a:hover {
    padding-bottom: 0px;
    border-bottom: 0px;
}
.dropdown-menu-header {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
.header ul.dropdown-menu, 
.modal ul.dropdown-menu {
    padding: 0px 0px;
}
.header .dropdown-menu > li > a,
.modal  .dropdown-menu > li > a {
    padding: 5px 10px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
#main-content-panel {
    height: calc(100vh - 82px);
}
.striped {
    border-top: 1px solid #e5e5e5;
    background-color: #eaeaea;
    border-bottom: 1px solid #e5e5e5;
}
.highlight-search-term {
  background-color: yellow;
}
.clear-both {
    clear: both;
}
.fa-lg {
    width: 20px;
}
.asset-icon-sm {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.red {
    color: red;
}
.green {
    color: #009900;
}
.bold {
    font-weight: bold;
}
.nowrap {
    white-space: nowrap;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

/* Tweak Panel headers to be a bit more compact*/
.panel-heading {
    font-size: 1.0em;
    font-weight: bold;
    padding: 5px 10px 5px 10px !important;
}
.panel-middle {
    font-weight: bold;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* 
 * Custom Icons
 */

.fw-icon-20 {
    width: 20px;
    height: 20px;
    background-size: 100%;
}
.fw-icon-48 {
    width: 48px;
    height: 48px;
    background-size: 100%;
}
.fw-icon-btc {
    background-image: url(../images/icons/btc.png);
}
.fw-icon-tbtc {
    background-image: url(../images/icons/btc.png);
}
.fw-icon-xcp {
    background-image: url(../images/icons/xcp.png);
}
.fw-coindaddy {
  background-image: url('../images/icons/coindaddy-coin-20.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  top: -4px;  
}
.fw-xchain {
  background-image: url('../images/icons/xchain-20.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: relative;
  top: -4px;  
}



/*
 * Balances List / Content CSS
 */

.balances-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
}
.balances-list {
    background-color: #efefef;
    flex: 0 0 auto;
    padding: 0px;
    width: 320px;
    min-width: 320px;
    max-width: 650px;
    border-right: 1px solid #d3d3d3;
}
.balances-content {
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;    
    display: block;
    position: relative;
    background-color: #eee;
}

.balances-content .table.text-center td,
.balances-content .table.text-center th {
    text-align: center;
}

.balances-list-toolbar {
    height: 45px;
    border-bottom: 1px solid #d3d3d3;
    margin: 0px 0px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.balances-list-toolbar a {
    color: #777;
}
.balances-list-toolbar a:hover {
    color: #333;
}
.balances-list-refresh {
    font-size: 2.4em;
}
.balances-list-refresh i.pull-left {
    margin-left: 7px;
    margin-right: 15px;
}
.balances-list-search {
    width: calc(100% - 52px);
    /*width: 100%;*/
}
.balances-list-assets {
    overflow-y: auto;
    overflow-x: hidden;    
    height: calc(100vh - 127px); /* 100% - header/footer/toolbar */
}
.balances-list-icon {
    display: table-cell;
}
.balances-list-info {
    display: table-cell;
    width:100%;
    vertical-align: middle;
}
.balances-list-info table {
    margin-left: 6px;
}
.balances-list-asset {
    font-weight: bold;
    margin-bottom: 2px;
}
.balances-list-amount {
    font-style: italic;
}
.balances-list-price {
    font-style: italic;
    text-align: right;
}
.balances-list li {
    position: relative;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 16px;
    color: #777;
}
.balances-list li > a img {
    margin-right: 1px;
}


/*
 * History List / Content CSS
 */

.history-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
}
.history-list {
    background-color: #efefef;
    flex: 0 0 auto;
    padding: 0px;
    width: 320px;
    min-width: 320px;
    max-width: 650px;
    border-right: 1px solid #d3d3d3;
}
.history-content {
    flex: 1 1 auto;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;    
    display: block;
    position: relative;
    background-color: #eee;
}
.history-content .table.text-center td,
.history-content .table.text-center th {
    text-align: center;
}
.history-list-toolbar {
    height: 45px;
    border-bottom: 1px solid #d3d3d3;
    margin: 0px 0px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.history-list-toolbar a {
    color: #777;
}
.history-list-toolbar a:hover {
    color: #333;
}
.history-list-refresh {
    font-size: 2.4em;
}
.history-list-refresh i.pull-left {
    margin-left: 7px;
    margin-right: 15px;
}
.history-list-search {
    width: calc(100% - 52px);
    /*width: 100%;*/
}
.history-list-transactions {
    overflow-y: auto;
    overflow-x: hidden;    
    height: calc(100vh - 127px); /* 100% - header/footer/toolbar */
}
.history-list-icon {
    display: table-cell;
}
.history-list-info {
    display: table-cell;
    width:100%;
    height: 50px;
    vertical-align: middle;
}
.history-list-info table {
    margin-left: 6px;
}
.history-list-asset {
    font-weight: bold;
    width: 245px;
    line-height: 14px;
    overflow: hidden;
}
.history-list-amount {
    font-weight: bold;
}
.history-list-timestamp {
    font-style: italic;
    font-size: 0.8em;
}
.history-list li {
    position: relative;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 16px;
    color: #777;
}
.history-list li > a img {
    margin-right: 1px;
}
li.history-list-sent .history-list-amount {
    color: red;
}
li.history-list-received .history-list-amount {
    color: green;
}


/*
 * Dialog Boxes CSS
 */
.dialog-welcome p {
    text-align: justify;
}
.dialog-welcome .btn {
    width: 48%;
}
.dialog-welcome .fa.fa-keyboard-o {
    margin-top: 2px;
}
.dialog-welcome .fa.fa-plus {
    margin-top: 4px;
}
.dialog-license-agreement .well {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;    
}
.dialog-license-agreement .well h3 {
    font-size: 1.4em; 
}
.dialog-new-passphrase h3, 
.dialog-view-passphrase h3, 
.dialog-view-privkey h3 {
    margin-top: 0px;
}
.dialog-change-address .modal-dialog {
    width: 475px;
}

.btc-wallet-passphrase ,
.btc-wallet-blackbox {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0px auto 10px auto;
    text-align: center;
    width: 100%;
    border: 0px !important;
}
.btc-wallet-password .modal-dialog {
    max-width: 300px;
}
.btc-wallet-address .modal-dialog {
    max-width: 350px;
}

.normal-page-content {
    height: calc(100vh - 82px);
    overflow-y: auto;
    padding: 15px 15px;
}


/* Settings CSS */
.settings-content{
    height: calc(100vh - 82px);
    overflow-y: auto;
    padding: 15px 15px;
}

.settings-content .form-horizontal .control-label {
    text-align: left;
}

.settings-content {
}

/* Address List CSS */
.address-list {
    height: 230px;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
    overflow-x: hidden;
    overflow-y: auto;
}
.address-list ul {
    height: 100%;
}
.address-list-search {
    width: 145px;
}

.address-list li {
    position: relative;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 16px;
    color: #777;
}
.address-list-label {
    font-weight: bold;
}
.address-list-address {
    font-style: italic;
}
.address-list-amount {
    display: inline-block;
    width: 175px;
    margin-bottom: 5px;    
}
.address-list-empty {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


/* Send Form CSS */
#send-form i.fa-question-circle-o {
    margin-top: 4px
}

#send-form i.fa-question-circle-o {
    margin-top: 4px
}
#send-form label {
    padding-right: 0px;
}
#send-form .tab-pane.panel {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 0px;
}

#send-form .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ui-tooltip {
    /* tooltip container box */
    max-width: 200px !important;
}
.ui-tooltip-content {
    /* tooltip content */
    max-width: 200px !important;
}

#fee-value-wrapper,
#fee-priority-wrapper {
    margin-left:14px;
}

.input-rounded-right {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* Force width on tooltips */
form .tooltip {
    width:180px
}

#bounty-amount {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.dialog-change-address .action-buttons {
    margin-top: 10px;
}

.fw-callback-protocol {
    font-size: 1.0em;
    line-height: 0.8em;
    font-style: italic;
    font-weight: bold;
}

.fw-callback-hostname {
    font-size: 1.5em;
    font-weight: bold;    
}

.fw-callback-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

/* Prevent bottom border when hovering on send tabs */
#send-form .nav-tabs li a:hover {
    border-bottom: 0px !important;

}
